.new-user__controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.new-user__control {
  display: flex;
  flex-direction: column;
}

.new-user__control input {
  height: 24px;
  margin: 5px 0;
  font-size: 14px;
}

.new-user__control label {
  font-size: 14px;
  color: black;
  font-weight: bold;
}
